@media (max-width: 528px) {
  h1 {
    font-size: 40px;
  }
  .done-content {
    padding: 10px;
  }
  .done-content ul {
    width: 100%;

    padding: 18px 200px 18px 25px;
  }

  #doneBtn {
    border-radius: 10px;
    padding: 10px 9px;
    position: absolute;
    top: 8px;
    right: 100px;
  }
  #btnRemove {
    top: 8px;
    right: 11px;
  }
}
@media (max-width: 445px) {
  .nav input {
    width: 260px;
  }
}
@media (max-width: 445px) {
  .nav input {
    width: 230px;
  }
}
@media (max-width: 368px) {
  .nav input {
    width: 210px;
  }
}
@media (max-width: 410px) {
  .nav input {
    padding: 11px 18px;
    border-radius: 10px;
  }

  .done-content ul {
    width: 100%;

    padding: 18px 130px 18px 18px;
    font-size: 14px;
  }

  #doneBtn {
    border-radius: 10px;
    padding: 10px 9px;
    position: absolute;
    top: 8px;
    right: 100px;
  }
  #btnRemove {
    top: 8px;
    right: 11px;
  }
}
@media (max-width: 420px) {
  .done-card {
    flex-direction: column;
  }

  .done-content ul {
    padding: 30px 115px 30px 25px;
  }
}

@media (max-width: 374px) {
  .nav input {
    width: 200px;
  }
  .done-content ul {
    width: 100%;

    padding: 30px 90px 30px 25px;
  }
  .done-content input::placeholder {
    font-size: 14px;
  }
}

@media (max-width: 345px) {
  .nav button {
    font-size: 10px;
  }
  .done-content ul {
    width: 100%;

    padding: 25px 50px 25px 25px;
  }

  .doneBtn {
    padding: 8px 9px;

    font-size: 11px;
    border-radius: 10px;
  }
  .btnRemove {
    padding: 8px 9px;
    font-size: 11px;
    border-radius: 10px;
  }
}
