@media (max-width: 528px) {
  h1 {
    font-size: 40px;
  }
  .done-content input {
    width: 100%;
    max-width: 500px;
    padding: 18px 200px 18px 25px;
  }

  #doneBtn {
    border-radius: 10px;
    padding: 10px 9px;
    position: absolute;
    top: 8px;
    right: 100px;
  }
  #btnRemove {
    top: 8px;
    right: 11px;
  }
}

@media (max-width: 374px) {
  h1 {
    font-size: 30px;
  }
  .nav input {
    padding: 11px 18px;
    border-radius: 10px;
  }
  .nav button {
    padding: 8px 7px;

    border-radius: 10px;
  }
  .done-content input {
    width: 100%;
    max-width: 400px;
    padding: 18px 130px 18px 18px;
  }
  .done-content input::placeholder {
    font-size: 14px;
  }
}

@media (max-width: 356px) {
  .nav input {
    padding: 9px 15px;
    border-radius: 10px;
  }
  .nav button {
    padding: 6px 5px;

    border-radius: 10px;
  }
}
@media (max-width: 345px) {
  .nav input {
    padding: 9px 15px;
    border-radius: 10px;
  }
  .nav button {
    padding: 4px 2px;
    font-size: 14px;
    border-radius: 10px;
    background-color: red;
  }
}
